<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security - OAuth 2.0 User Info</title>
    <meta charset="utf-8" />
</head>
<body>
<div th:replace="index::logout"></div>
<h1>User Info</h1>
<div>
    <span style="font-weight:bold">User Attributes:</span>
    <ul>
        <li>
            <span style="font-weight:bold" th:text="userName"></span>: <span th:text="${userName}"></span>
        </li>
         <li>
            <span style="font-weight:bold" th:text="Token"></span>: <span th:text="${credentials}"></span>
        </li>
    </ul>
</div>
</body>
</html>